<h1>My Cats!</h1>
<% @cats.each do |cat| %>
  <h2><%= cat.name %></h2>
  <% if cat.feeding_times.any? %>
    <ul>
      <% cat.feeding_times.each do |feeding_time| %>
        <li><%= feeding_time.datetime.strftime("%I:%M %p") %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No feeding times set for this cat.</p>
  <% end %>
  <%= link_to "Edit Feeding Times", edit_feeding_times_cat_path(cat) %>
<% end %>

<form style="display: inline" action="/user_dashboard" method="get">
  <button class="btn btn-primary">
    Back to Dashboard
  </button>
</form>
