<h1>My Cats!</h1>
<% @cats.each do |cat| %>
  <h2><%= cat.name %></h2>
  <% if cat.feeding_times.any? %>
    <ul>
      <% cat.feeding_times.each do |feeding_time| %>
        <li>Meal # <%= feeding_time.datetime.strftime("%I:%M %p") %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No feeding times set for this cat.</p>
  <% end %>
<% end %>

<form style="display: inline" action="/user_dashboard" method="get">
  <button class="btn btn-primary">
    Back to Dashboard
  </button>
</form>
