<h1>CatNotif</h1>


<form style="display: inline" action="/signup" method="get">
  <button>Sign up</button>
</form>
<form style="display: inline" action="/login" method="get">
  <button>login</button>
</form>

