<h1>Owner Dashboard</h1>

	<style type="text/css">
		.btn-circle.btn-xl {
			width: 100px;
			height: 50px;
			padding: 13px 18px;
			border-radius: 20px;
			font-size: 15px;
			text-align: center;
		}
	</style>


<form style="display: inline" action="/addcat" method="get">
  <button class="btn btn-primary">
  Add Cat
</button>
</form>
<form style="display: inline" action="/mycats" method="get">
  <button class="btn btn-primary">
  View My Cats
</button>
</form>
