body {
  background-color: #14213d;
  color: #e5e5e5;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#titlecard {
  color: #7af8ff;
  text-align: center;
}


#lg_homepage,
#su_homepage {
  background-color: transparent;
  color: azure;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  ;
  border: #7af8ff;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}


h1 {
  color: #7af8ff;
  text-align: center;
}

form {
  text-align: center;
}